*{
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

body{
  margin: 0px;
  padding: 0px;
  font-family: cursive;
}

.wrapper{
  width: 1500px;
  margin: auto;
  position: relative;
}

.logo a{
  font-size: 40px;
  font-weight: 800;
  margin: auto;
  float: left;
  font-family: 'comic sans-serif;';
  color: #865439;
}

.menu{
  float: right;
}

nav{
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 60px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: #ffffff;
  z-index: 1;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li{
  float: left;
}

nav ul li a{
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

nav ul li a:hover{
  text-decoration: underline;
}

section{
  margin: auto;
  display: flex;
  margin-bottom: 50px;
}

.kolom{
  margin-top: 50px;
  margin-bottom: 50px;
}

.kolom .deskripsi{
  font-size: 500px;
  font-weight: bold;
  font-family: 'comic sans ms';
  color: #364f6b;
}

h2{
  font-family: 'comic sans-serif;';
  font-weight: 800;
  font-size: 45px;
  margin-bottom: 20px;
  color: #865439;
  width: 100%;
  line-height: 50px;
  margin-left: 30px;
}

h1{
  font-family: cursive;
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 20px;
  color: #d2691e;
  width: 100%;
  line-height: 50px;
  margin-left: 30px;
}


a.tbl-biru{
  background: #865439;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}

a.tbl-biru:hover{
  background: #B3541E;
  text-decoration: none;
}


p{
  margin: 10px 10px;
  padding: 10px 10px;
}

.tengah{
  text-align: center;
  width: 100%;
}


#contact{
  background: #dedede;
  padding: 50px 0px 50px 0px;
}

.footer{
  width: 100%;
  position: relative;
  flex-wrap: wrap;
  margin: auto;
  display: flex;
}

.footer-section{
  width: 20%;
  margin: 0 auto;
}

h3{
  font-family: 'comic sans-serif;';
  font-weight: 800;
  font-size: 45px;
  margin-bottom: 20px;
  color: #865439;
  width: 100%;
  line-height: 50px;
  margin-left: 10px;
}

#copyright{
  text-align: center;
  width: 100%;
  padding: 50px 0px 50px 0px;
  margin-top: 50px;
}

@media screen and (max-width: 991.98px){
  .wrapper {
    width: 90%;
  }
  .logo a{
    display: block;
    width: 100%;
    text-align: center;
  }
  nav .menu{
    width: 100%;
    margin: 0;
  }
  nav .menu ul{
    text-align: center;
    margin: auto;
    line-height: 60px;
  }
  nav .menu ul li{
    display: inline-block;
    float: none;
  }
  section{
    display: block;
  }
  section img{
    display: block;
    width: 100%;
    height: auto;
  }
} 